<div class="container body-content">

    <h1>@ViewBag.title</h1>

    @{
        //TODO #1: Use a loop to display job results in a table.
    }

    <div style=" white-space: pre-line">
        <table class="job-listing">
            @foreach (var job in ViewBag.Jobs)
            {
                <tr>
                    <td>@job</td>
                </tr>    
            }
        </table>
    </div>


</div>